<footer class="footer">
  {{> help-link}}
  <p>All content &copy; SSAT 2020 released under a <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 licence</a></p>
</footer>
