<span class="help-link">
{{#if page.attributes.help-url}}
    <a href="{{page.attributes.help-url}}">Report documentation issues</a>
  {{else}}
    <a href="mailto:help@ssatuk.co.uk?subject=Documentation%20issue">Report documentation issues</a>
  {{/if}}
</span>
