<div class="help-link">
{{#if page.attributes.help-url}}
    <p><a href="{{page.attributes.help-url}}">Report documentation issues</a></p>
  {{else}}
    <p><a href="mailto:help@ssatuk.co.uk?subject=Documentation%20issue">Report documentation issues</a></p>
  {{/if}}
</div>
